@import "_variables.scss";
@import "_mixins.scss";

.footer-wrapper{
	.social{
		text-align: center;
		.header-container{
			max-width: 300px;
			margin: 0 auto;
			h3{
				position: relative;
				overflow: hidden;
				padding-bottom: 20px;
				font-size: 1em;
				span {
					display: inline-block;
					vertical-align: baseline;
					zoom: 1;
					*display: inline;
					*vertical-align: auto;
					position: relative;
					padding: 0 20px;
					&:before, &:after {
						content: '';
						display: block;
						width: 1000px;
						position: absolute;
						top: 0.73em;
						border-top: 2px solid $primary-color;
					}
					&:before { right: 100%; }
					&:after { left: 100%; }
				}
			} 
		}
		.all-icons{
			display: grid;
			grid-template-columns: repeat(6, 2fr);
			grid-gap: 1em;
			.icon{
				color: #bbb;
				a{
					color: #bbb;
					&:hover{
						color: #333;
					}
					i{
						display: inline-block;
						border-radius: 60px;
						box-shadow: 0px 0px 2px #888;
						padding: 0.7em 0.8em;
					}
				}
			}
		}
	}

	.main-footer {
		max-width: 1200px;
		@include bg($primary-color!important);
		color: $secondary-color;
		padding: 20px 100px;
		.main-footer__container {
			display: grid;
			grid-template-columns: 2fr 2fr 2fr 3fr 3fr;
				grid-gap: 1em;
				grid-auto-rows: minmax(200px, auto);
			.main-footer__element{
				padding-top: 40px;
				.main-footer__subtitle{
					font-size: .8em;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				.main-footer__list{
					list-style-type: none;
					.main-footer__link{
						color: #777;
						text-decoration: none;
						font-size: .8em;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			.main-footer__img{
				padding-top: 60px;
				margin: 0 auto;
			}

		}
	}
}

@media (max-width: 800px){
	.main-footer{
		padding: 20px!important;    
		.main-footer__container{
			display: block!important;
			>div{
				padding: 15px;
			}
    	}
	}

}
