@import "_variables.scss";
@import "_mixins.scss";

.main-footer {
	max-width: 1200px;
	@include bg($primary-color!important);
	color: $secondary-color;
	padding: 20px 100px;
	.main-footer__container {
		display: grid;
		grid-template-columns: 2fr 2fr 2fr 3fr 3fr;
			grid-gap: 1em;
			grid-auto-rows: minmax(200px, auto);
		.main-footer__element{
			padding-top: 40px;
			.main-footer__subtitle{
				font-size: .8em;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.main-footer__list{
				list-style-type: none;
				.main-footer__link{
					color: #777;
					text-decoration: none;
					font-size: .8em;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}

		.main-footer__img{
			padding-top: 60px;
			margin: 0 auto;
		}

	}
}

@media (max-width: 800px){
	.main-footer{
		padding: 20px;    
		.main-footer__container{
			display: block!important;
			>div{
				padding: 15px;
			}
    	}
	}

}
