*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
        "head head head"
        "nav main side"
        "nav main ad"
        "footer footer footer";
        grid-gap: 10px;
}

.wrapper > *{
    border: 1px solid red;
    background: tomato;
    padding: 10px;
}

.main-head{
    grid-area: head;
}

.main-nav{
    grid-area: nav;
}

.content{
    grid-area: main;
}

.side{
    grid-area: side;
}

.ad{
    grid-area: ad;
}

.main-footer{
    grid-area: footer;
}

@media (max-width: 800px){
    .wrapper{
        grid-template-columns: 2fr 4fr;
        grid-template-areas: 
            "head head"
            "nav nav"
            "side main"
            "ad footer";
    }
}

@media (max-width: 400px){
    .wrapper{
        display: block;
    }

    .wrapper > *{
        margin-bottom: 10px;
    }
}