// main.scss
@import "_variables.scss";
@import "_mixins.scss";

// Homepage Grid
.homepage{
    margin: 0;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: 
        "banner";
        grid-gap: 10px;
    
    > *{
        @include bg($secondary-color);
    }

    .banner{
        grid-area: banner;
        width: 100%;
        overflow-x: hidden;
        .carousel-cell{
            height: 500px;
            width: 100%;
            max-width: 1200px;
            position: relative;
            .left-arrow{
                margin: 400px auto 0 auto;
                position: absolute;
                font-size: 4em;
                color: $secondary-color;
                padding-left: 25px;
                cursor: pointer;
            }
            .right-arrow{
                margin: 400px auto 0 auto;
                font-size: 4em;
                float: right;
                color: $secondary-color;
                padding-right: 25px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 800px){
    .homepage{
        grid-template-columns: 2fr 4fr;
        grid-template-areas: 
            "banner banner";
    }
}

@media (max-width: 480px){
    .homepage{
        display: block;

        > *{
            margin-bottom: 10px;
        }
    }
}