// main.scss
@import "_variables.scss";
@import "_mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
}

*, html{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5{
    text-transform: uppercase;
}

.ten-12{
    padding: 40px 100px;
}

.eight-12{
    padding: 40px 200px;
}

.six-12{
    padding: 40px 300px;
}

.p-0{
    padding: 0;
}

.m-0{
    margin: 0;
}

section{
    margin: 60px 0;
}

// Base Grid
#app{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: 
        "head"
        "main"
        "footer";
    > *{
        background: $secondary-color;
    }
}

.main-header{
    grid-area: head;
}

main{
    grid-area: main;
    width: 100%;
    max-width: 1200px;
}

.footer-wrapper{
    grid-area: footer;
}

@media (max-width: 800px){
    .ten-12, .eight-12, .six-12{
        padding: 40px 15px;
    }

    section{
        margin: 20px 0;
    }
}

@media (max-width: 480px){
    html,body{
        overflow-x: hidden;
    }
    
    #app{
        display: block!important;

        > *{
            margin-bottom: 10px;
        }
    }
}
