// Main stylesheet
@import "main.scss";
@import "header.scss";
@import "footer.scss";
@import "homepage.scss";
@import "collection.scss";
@import "product.scss";
@import "contact.scss";
@import "products.scss";